@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");
@import "tailwindcss";


:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-color: "white";
  background-image: "white";
}

body.greenScreen {
  background-color: #00ff00;
  background-image: none;
}

.bubble {
  margin-top: -170px;
  margin-left: 10px;
  padding-top: 10px;
  transform: translate3d(calc(80px), -692px, 0);
  text-align: center;
  background: white;
  color: rgb(59 130 246 / var(--tw-bg-opacity, 1));
  border: solid 2px rgb(59 130 246 / var(--tw-bg-opacity, 1));
  padding: 10px;
  border-radius: 1000px;
  font-size: 4px;
  width: 137px;
}

.bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  top: 6px;
  left: -25px;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 20px;
  color: rgb(59 130 246 / var(--tw-bg-opacity, 1));
  border: solid 2px rgb(59 130 246 / var(--tw-bg-opacity, 1));
}

.bubble:before {
  content: '';
  position: absolute;
  bottom: 0;
  top: 18px;
  left: -35px;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 20px;
  color: rgb(59 130 246 / var(--tw-bg-opacity, 1));
  border: solid 2px rgb(59 130 246 / var(--tw-bg-opacity, 1));
}